@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Set body and html to 100% */
  overflow: hidden; /* Prevent scrolling */
}

.app{
  background-color: #343541;
  display: flex;
  height: 100%; /* Make app take full height */
}

.side-bar{
  background-color: #202123;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
nav{
  border-top: solid 0.5px rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
}

.history{
  padding: 10px;
  margin: 10px;
  height: 100%;
}
.history li{
  list-style-type: none;
  padding: 15px 0;
  cursor:  pointer ;
}

.main{
  height: 100vh; /* Use full viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevent scrolling */
}

.info{
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.bottom-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  position: relative;
  width: 100%;
  max-width: 650px;
}

input{
  width: 100%;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
              rgba(0, 0, 0, 0.05) 0 -12px 30px,
              rgba(0, 0, 0, 0.05) 0 4px 6px,
              rgba(0, 0, 0, 0.05) 0 12px 3px,
              rgba(0, 0, 0, 0.05) 0 -3px 5px;
}
input:focus{
  outline: none;
}

#submit{
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem; /* Make the icon bigger */
  color: rgba(255, 255, 255, 0.8); /* Adjust the color if needed */
}

.feed{
  flex-grow: 1; /* Allow the feed to take up the remaining vertical space */
  overflow-y: auto;
  width: 100%;
  padding: 0;
}

.feed li{
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
}

.feed p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: left;
}

.feed p.role{
  min-width: 100px;
}

/* Mobile specific styling */
@media (max-width: 768px){
  .main{
    padding: 5px;
    height: 91vh; /* Make sure no scrolling occurs on mobile */
  }

  .side-bar{
    width: 120px;
    max-width: 120px;
    height: 91vh; /* Ensure sidebar takes full height */
  }

  .feed{
    flex-grow: 1;
    overflow-y: auto;
  }

  .feed li{
    padding: 10px;
  }

  .info{
    padding: 0;
  }

  #submit{
    bottom: 5px;
  }
}
